<div class="list_item">
    <div class="col-xs-6 col-sm-3 box" >
            <div class="product-item">
                    <div class="img-responsive">

                        <a href="{{img_book.get_absolute_url}}" >
                                 <img src="{{img_book.image.url}}" class="item-image">
                        </a>

                    </div>
                    {% if img_book.book.discount%}
                    <div class="discount-container">

                        <span>{{img_book.book.discount}}</span>
                    </div>
                   {% endif %}
                    <div class="item-title">
                      <h4>{{ img_book.book.name }}</h4>
                    </div>
                    <div class="item-desc">
                       <p>{{ img_book.book.description}}</p>
                    </div>
                    <div class="item-price">
                        <p>  Цена: {{img_book.book.price}} UAH</p>
                    </div>
                    <div class="add-btn">
                            <form  class="form-inline form_buying_book" action="{% url 'orders:basket_adding'%}">{% csrf_token %}
                                   <input type="number" value="1"   class="form-control number" style="width:50px" min="1" >

                                   <div class="form-group">
                                     <button type="submit" class="btn btn-success btn-buy submit_btn "

                                         data-product_id = '{{ img_book.book.id }}'
                                         data-name = '{{img_book.book.name}}'
                                         data-price = '{{ img_book.book.price }}'
                                     >
                                       Купить
                                     </button>
                                   </div>
                             </form>


                    </div>




                </div>



</div>
            </div>


