{% extends "base.html"%}
{% load static %}
{% block content%}
<h1>О Компании</h1>


								<div>
	 Bookstore -&nbsp;молодой, но активно развивающийся интернет-магазин книг. Наша амбициозная команда работает над проектом, стремясь создать максимально комфортные и выгодные условия для всех ценителей хорошей литературы. Мы можем предложить читателям более 30 тысяч наименований книг разных жанров. Bookstore&nbsp;– интернет-магазин книг, который облегчает поиск и приобретение качественной продукции.&nbsp;
</div>
<div>
 <span style="font-size: 14pt;"><b>У нас на сайте Вы сможете найти книги на все случаи жизни:</b></span><br>
</div>
<ul>
	<li>произведения мировой классики, которые не утратят своей актуальности;</li>
	<li>
	бестселлеры, которые уже завоевали признание читателей всего мира;</li>
	<li>
	актуальные новинки книжного мира;</li>
	<li>
	познавательная литература на любую тему;</li>
	<li>
	книги для личностного роста и развития бизнеса;</li>
	<li>
	красочные книги для детей;</li>
	<li>
	информационно-справочные издания;</li>
	<li>
	отличные подарочные книги.</li>
</ul>
 <br>
 &nbsp;Весь ассортимент книг, представленный на сайте, проходит тщательную проверку. Возможность появления некачественных экземпляров исключена.<br>
 <b>&nbsp;</b><span style="font-size: 14pt;"><b>Почему Вам стоит сотрудничать с нами?</b></span><br>
<ul>
	<li>все позиции, представленные на сайте, есть в наличии на складе;</li>
	<li>
	мы предлагаем актуальную литературу и новинки лучших авторов со всего мира;</li>
	<li>
	привлекательные скидки, интересные акции и бонусы для наших клиентов;</li>
	<li>
	заказ будет доставлен в любую точку Украины в короткие сроки;</li>
	<li>
	максимально удобные способы оплаты для клиентов;</li>
	<li>
	налаженная система обратной связи.</li>
</ul>
 <br>
 Мы ценим наших клиентов и всегда рады новым покупателям. Наша задача – сделать Ваш досуг полезным, незабываемым и приятным.<br>
<p>
</p>
<p>
</p>
<p>
</p>
{% endblock  %}