{% extends "base.html"%}
{% load static %}
{% block content%}

 <!-- Page Content -->


<h3 class="text-left">Доставка</h3>
<h5 class="text-center">Уважаемые клиенты!</h5>
<p> Доставка осуществляется в течении 1-3 дней после оформления заказа.Иногда, в случае отправки с удалённого склада, доставка может занять до 7 дней.</p>
<p>Мы понимаем, как важно для Вас, чтобы посылка пришла в срок, поэтому работаем с лидером на рынке доставок – Новой почтой.</p>
<p>Если стоимость Вашего заказа больше 600 гривен, мы оплатим доставку сами*</p>

<h5 class="text-center">Способы доставки</h5>
<h6 class="font-weight-bold"><i>Курьерская доставка по Киеву</i> </h6>
<p> Доставка осуществляется в течении 1-3 дней после оформления заказа.</p>
<p>Стоимость доставки – 55 гривен.</p>
<h6 class="font-weight-bold"> <i>Доставка на склад Новой Почты </i></h6>

<p><ins>Для жителей Киева:</ins></p>
<p>Если Вы сделали заказ сегодня:</p>
<p>- до 16.00 - посылка появиться в пункте выдачи на следующий день;</p>
<p>- после 16.00 - Вы сможете забрать свою посылку в отделении через день.</p>
<p><ins> Для жителей Украины:</ins></p>
<p>Этот способ доставки гарантирует Вам получение товара даже в самых отдаленных населенных пунктах Украины.</p>
<p>Сроки получения – от 1 до 3 дней. </p>
<p>Стоимость доставки на склад «Новой почты» - 45 гривен.</p>
<p>Стоимость доставки крупногабаритных товаров осуществляется по тарифам «Новой почты». Узнать более детальную информацию о графике работы и адресах отделений Вы можете на сайте компании «Новая Почта». Для получения товара Вам нужно будет обратиться в назначенное отделение после смс-сообщения о прибытии товара. При себе нужно иметь паспорт и знать номер декларации.</p>
<p class="font-weight-bold">*Бесплатная доставка действует на заказ с итоговой стоимостью от 600 грн. (с учетом примененных скидок), отправляемый одной посылкой. В случае, когда книги из одного заказа, оформленного на сумму свыше 600 грн., находятся на различных складах, сумма заказа делится на две части и обе посылки доставляются бесплатно вне зависимости от их стоимости.</p>

{% endblock%}