<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5><a href="{% url 'book:book_list'%}">Главная</a></h5>
					<ul class="list-unstyled quick-links">
						<li><a  href="{% url 'returns'%}"><i class="fa fa-angle-double-right"></i>Возврат и обмен</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5><a  href="{% url 'grafik-raboty'%}">График работы</a></h5>
					<ul class="list-unstyled quick-links">

						<li><a href="{% url 'payments'%}"><i class="fa fa-angle-double-right"></i>Оплата</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5><a href="{% url 'about'%}">О нас</a></h5>
					<ul class="list-unstyled quick-links">

					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black">
					<p class="h6">&copy All right Reversed.</p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->