{% extends "base.html"%}
{% load static %}
{% block content%}
<div>
<h1>График работы</h1>


								<b>Мы принимаем заказы на сайте:<br>
 </b>
<div>
 <b> </b>
</div>
<div>
</div>
<div>
</div>
<div>
 <br>
</div>
<div>
</div>
<div>
	 Ежедневно, круглосуточно<b> </b>и безостановочно<b> 24/7/365</b>
</div>
<div>
</div>
<div>
 <br>
</div>
<div>
 <b>Мы готовы связаться с вами по телефону: </b><br>
</div>
<div>
 <br>
</div>
<div>
 <br>
</div>
<div>
</div>
<div>
</div>
<div>
	 Понедельник - 09.00 - 19.00<br>
	 Вторник - 09.00 - 19.00<br>
	 Среда - 09.00 - 19.00<br>
	 Четверг - 09.00 - 19.00<br>
	 Пятница - 09.00 - 19.00 <br>
	 Суббота - 10.00 - 19.00
</div>
 Воскресенье - 10.00 - 19.00
<div>
 <b><br>
 </b>
</div>
<div>
 <b><br>
 </b>
</div>
<div>
 <b>Мы собираем и отправляем Вам любимые книги:</b>
</div>
<div>
 <br>
</div>
<div>
	 Понедельник - 09.00 - 19.00
</div>
 Вторник - 09.00 - 19.00
<div>
	 Среда - 09.00 - 19.00
</div>
 Четверг - 09.00 - 19.00
<div>
	 Пятница - 09.00 - 19.00 <br>
</div>
<div>
	 Ждём понедельника.<br>
</div>
 <br>							</div>
{%  endblock %}