{% extends "base.html"%}
{% load static %}
{% block content%}

{% include "slider.html"%}

<h1 class="text-center"> Новинки  </h1>
<div class="row">
  {% for img_book in product_images_new|slice:":8"  %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->


<h1 class="text-center"> Хиты продаж  </h1>
<div class="row">
 {% for img_book in product_images_hit|slice:":8" %}
            {% include "book/book_item.html"%}
 {% endfor %}
</div>
<!-- /.row -->

  <h1 class="text-center"> Рекомендуемые книги  </h1>
<div class="row">
  {% for img_book in product_images_recommended_books|slice:":8" %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->

<h1 class="text-center"> Последние поступления  </h1>
<div class="row">
  {% for img_book in product_images_last_add|slice:":8" %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->

<h1 class="text-center"> Раcпродажа  </h1>
<div class="row">
  {% for img_book in product_images_sell_it|slice:":8" %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->
{% endblock %}