{% extends "base.html"%}
{% load static %}
{% block content%}




{% include "slider.html"%}

<h1 class="text-center"> Новинки  </h1>
<div class="row">
  {% for img_book in product_images_new|slice:":8"  %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->


<h1 class="text-center"> Суперхиты  </h1>
<div class="row">
 {% for img_book in product_images_superhit|slice:":8" %}
            {% include "book/book_item.html"%}
 {% endfor %}
</div>
<!-- /.row -->

  <h1 class="text-center"> Предзаказ  </h1>
<div class="row">
  {% for img_book in product_images_pre_order|slice:":8" %}
            {% include "book/book_item.html"%}
  {% endfor %}
</div>
<!-- /.row -->
{% endblock %}