{% extends "base.html"%}
{% load static %}
{% block content%}

 <!-- Page Content -->


<h3 class="text-left">Способы оплаты</h3>
<h5>Оплата на сайте LiqPay</h5>
<p>Очень удобный и быстрый способ оплатить заказ. Вы можете совершать платежи в любое удобное для Вас время.</p>
<h6>Варианты оплаты:</h6>
<div>
    <blockquote>
		<ul>
			<li>Оплата банковской картой - оплата без регистрации на сайте LiqPay. </li>
			<li>
			Приват24 - оплата на сайте системы Приват 24.&nbsp; </li>
			<li>
			В терминале - оплата наличными или картой в терминале Приват Банка.  </li>
			<li>
			Оплата&nbsp;через&nbsp;<a href="#">LiqPay</a> - авторизуйтесь на сайте LiqPay и оплатите товар&nbsp;через него. </li>
			<li>
			Счет на оплату, который высылается Вам на электронный адрес.</li>
			<li>
			<p>
				 MasterPass. Возможность быстро и безопасно&nbsp;осуществить платеж при помощи электронного кошелька.&nbsp; &nbsp;
			</p>
			</li>
		</ul>
	</blockquote>
</div>
<div>
    <h5>Рассрочка.</h5>
    <p>
	 Если Вам понравились сразу несколько книг, но&nbsp;Вы не планировали потратить такую сумму – оформите моментальную рассрочку. Для этого Вам необходимо иметь карту ПриватБанка. Ежемесячно с Вашего счета будет списываться фиксированная сумма.<br>
</p>
</div>
{% endblock%}