{% extends "base.html"%}
{% load static %}
{% block content%}
<div>
    <h2>
Условия и порядок возврата приобретенного бракованного товара в интернет-магазине «Bookstore» </h2>
 Данный порядок регулирует условия возврата приобретенного бракованного товара (книги, иная полиграфическая и печатная продукция и т.д.)<br>
 <br>
 1.&nbsp;Согласно Приложения №3 Постановления КМУ от 19 марта 1994 года № 172 в соответствии с положениями действующего законодательства Украины, печатная продукция надлежащего качества не подлежит возврату.<br>
 2. В случае приобретения бракованного товара, Покупатель имеет право на свой выбор бракованный товар:
<blockquote>
	<ul>
		<li>Обменять его на другой такой же, надлежащего качества; или</li>
		<li>
		Обменять его на аналогичный товар с частичной доплатой или частичным возвратом уплаченной суммы, в зависимости от стоимости аналогичного товара; или</li>
		<li>
		Получить скидку на бракованный товар, размер которой устанавливается по согласию сторон; или</li>
		<li>
		Вернуть его и получить уплаченные деньги в полном объеме.</li>
	</ul>
</blockquote>
 3. Бракованным считается товар, который имеет дефекты, полученные при транспортировке (разорванные страницы, сдавленности, потертости) или в котором допущен полиграфический брак (искажение текста, значительная потеря цвета, отсутствующие фрагменты текста, перевернутые страницы по отношению к обложке, кривой обрез, неправильная склейка и т.д.).<br>
 4.&nbsp;Согласно положениями ст. 675-676 Гражданского Кодекса Украины претензии по полиграфическому браку принимаются в течение&nbsp;6 месяцев&nbsp;с даты поставки товара Покупателю.<br>
 5. Претензии по дефектам, полученным при транспортировке, принимаются до момента передачи товара Покупателю.<br>
 6. Претензии по бракованному товару адресуются в устной форме по телефону 044-44-44-444 или же в письменной заявке по электронному адресу <a href="mailto:dispute@book24.ua">dispute@book24.ua</a>.<br>
 7. Срок рассмотрения претензий – до 14 календарных дней с даты получения претензии.<br>
 8. В случае удовлетворения заявленной претензии:
<blockquote>
	<ul>
		<li>Если Покупатель находится в г. Киеве:</li>
	</ul>
	 К нему направляется курьер для обмена товара. Покупатель обязан передать курьеру бракованный товар и товарный чек.
	<ul>
		<li>
		Если Покупатель находится вне территории г. Киева:</li>
	</ul>
	 Покупатель самостоятельно отправляет почтой или курьерской службой бракованный товар и товарный чек на адрес магазина. Стоимость доставки бракованного товара компенсируется путем зачисления соответствующей суммы на личный счет покупателя в магазине.
</blockquote>
 9. Способ возврата денежных средств – аналогичный их получению, если иное не оговорено сторонами. <br>
 10.&nbsp;В соответствии с требованиями Налогового кодекса Украины, Покупатель для возврата денежных средств обязуется предоставить Продавцу копию паспорта и идентификационного кода Покупателя, согласно требований Закона Украины «О защите персональных данных».
<p>
</p>
<p>
</p>
 <br>
<p>
</p>
<p>
 <br>
</p>
</div>