<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
              {% for image_len in images_for_slider %}
              {% if forloop.first%}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
              {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }"></li>
               {% endif %}
              {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
              {% for image_item in images_for_slider %}
              {% if forloop.first%}
            <div class="carousel-item active">
                <a href="{{image_item.get_absolute_url}}" >
              <img class="d-block img-fluid" src="{{image_item.image.url}}" alt="First slide">
                </a>
            </div>
              {% else %}
            <div class="carousel-item">
              <a href="{{image_item.get_absolute_url}}" >
              <img class="d-block img-fluid" src="{{image_item.image.url}}" alt="First slide">
                </a>
            </div>
              {% endif %}
              {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
</div>
