{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

        {% if products_in_basket %}
                    <div class="text-header">
            <h3 class="text-center"> Товары в корзине </h3>
        </div>


                         <table class="table">
                             <thead>
                                 <tr>
                                 <th scope="col">Название товара</th>
                                 <th scope="col">Количество</th>
                                 <th scope="col">Цена за еденицу</th>
                                 <th scope="col">Общая цена</th>
                                 <th>Действия</th>
                                 </tr>
                             </thead>
                             <tbody class="basket-count " data-products_in_basket="{{products_in_basket}}">
                             {% for product_in_basket in products_in_basket %}
                                 <tr class="cart-item-{{product_in_basket.id}} scope='row' ">
                                     <td>{{product_in_basket.book.name}}</td>

                                     <td class="product_in_basket_nmb" >
                                         <form  class="form-inline cart-qty" method="GET" action="{% url 'orders:change_item_qty'%}">
                                             <input value="{{product_in_basket.number}}" type="number" class="product-in-basket-nmb cart-item-qty"
                                                name="product_in_basket_{{product_in_basket.id}}" min="1" style="width:50px"
                                                     data-product_basket_id = '{{ product_in_basket.id }}'
                                                     >
                                         </form>
                                     </td>



                                     <td class="product-price">
                                         {{product_in_basket.price_per_item}}
                                     </td>
                                     <td><span class="total-product-in_basket-amount">{{product_in_basket.total_price}}</span>
                                     </td>
                                     <td>
                                         <a href="{% url 'orders:remove_from_cart'%}" class="delete_item"
                                            data-product_id = '{{ product_in_basket.id }}'>
                                             <button type="submit" class="btn btn-success btn-buy total_amount btn-sm ">
                                               удалить
                                             </button>
                                         </a>
                                     </td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>

                        <div class="text-right">
                            <b>Сумма заказа:</b><span id="total_order_amount"></span>
                        </div>
                        <div class="text-right">
                            <a href="{% url 'orders:checkout'%}">
                                <button type="submit" class="btn btn-success btn-sm  ">Предварительный заказ</button>
                            </a>
                        </div>


        {% else %}
        <div class="basket-empty">
         <h3 class="text-center"> В Вашей корзине нет товаров </h3>
        {% endif %}
        </div>


</div>
{% endblock %}