{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

        {% if products_in_basket %}

                    <h3 class="text-center"> Ваш предварительный заказ </h3>

                         <table class="table">
                             <thead>
                             <tr>
                             <th>Название товара</th>
                             <th>Количество</th>
                             <th>Общая цена</th>
                             </tr>
                             </thead>
                             <tbody class="basket-count " data-products_in_basket="{{products_in_basket}}">
                             {% for product_in_basket in products_in_basket %}
                                 <tr class="cart-item-{{product_in_basket.id}} ">
                                     <td>{{product_in_basket.book.name}}</td>
                                     <td class="product_in_basket_nmb" >
                                         <div class="text-center">
                                             {{product_in_basket.number}}
                                         </div>
                                     </td>

                                     <td><span class="total-product-in_basket-amount">
                                         {{product_in_basket.total_price}}
                                     </span>
                                     </td>


                                 </tr>
                             {% endfor %}
                             </tbody>
                             </table>
                        <div class="text-right">
                            <b>Сумма заказа:</b><span id="total_order_amount"></span>
                        </div>
                        <a href="{% url 'orders:create_order' %}" class="text-right">
                            <button type="submit" class="btn btn-success btn-sm ">
                                Оформить заказ
                            </button>
                        </a>



        {% endif %}
        </div>


</div>
{% endblock %}
