{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <form action="{% url 'orders:make_order'%}" method="POST">{% csrf_token %}
        <div class="block-form">
    <div class="col-sm-4">
        {{form.first_name|as_crispy_field}}
    </div>
    <div class="col-sm-4">
        {{form.last_name|as_crispy_field}}
    </div>
    <div class="col-sm-4">
        {{form.phone|as_crispy_field}}
    </div>
    {{form.buying_type|as_crispy_field}}
    {{form.address|as_crispy_field}}
    {{form.date|as_crispy_field}}
    {{form.comments|as_crispy_field}}
    <input type="submit" class="btn btn-success" value="Оформить заказ">
            </div>
</form>





{% endblock   %}